/* .td-border-right {
    border-right: 0.0001px solid black;
}

table,
td,
th {
    border: 1px solid rgb(220, 14, 14);

} */

table {
    /* border-collapse: collapse; */
    /* width: 100%; */
}

/* th,
td {
    padding: 5px 10px;
    text-align: center;
} */

.fs-tbl {
    font-size: 10px;
}

.fs-tbl>td,
th {
    padding: 0px 8px !important;
}

.fs-tbl-marks {
    font-size: 11px;
}

.tbl-color {
    /* border-color: rgba(247, 10, 10, 0.851) !important */
}

.my-style {
    border-color: rgb(15, 15, 225) !important
}

.tbl-brdr-style {
    --bs-border-width: 1px;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    /* border: 1px solid rgb(28, 28, 28); */
}

.bb-0 {
    border-bottom-width: 0px !important;

}

.brght {
    border-right: 1px solid #dee2e6;
}